*{
    margin: 0;
    padding: 0;
    
}
body{
    max-width: 1100px;
    margin: 0px auto;

}
header{
    background: rgb(243, 143, 143);
    height: 230px;
}
header ul li{
    float: right;
    margin:5px 20px 0px 0px;
    list-style: none;
    border: 1px solid black;
    background: rgb(92, 188, 237);
    border-radius: 5px;
    padding: 4px 12px;
   
}
header ul li a{
    color: white;
    text-decoration: none;
    font-size: 14pt;
}
.logo{
   
    padding: 10px 0px 0px 0px;
    margin-left: 20px;
    float:left;
}
header .logo img{
    width: 100px;
}
header .search{
    float: right;
    border: 1px solid black;
    margin-right: 20px;
    height: 30px;
    border-radius: 5px;
    clear: both;
   
    
   
}
header .search button{
    height: 30px;
    background: red;
    color: rgb(247, 234, 235);
}

[type="search"]{
    width: 200px;
    float: left;
    height: 30px;
    padding: 5px;
    font-size: 15pt;
}

nav{
    /* background: rgb(201, 113, 113); */
    clear:both;
    margin-left: 15px;
}
nav a{
     margin: 0px 10px 0px 0px;
     padding-right:20px ;
     font-size: 20px;
     text-decoration:none;
     font-weight: bold;
     color: rgb(248, 243, 243);
     border: 1px solid black;
     background: rgb(20, 11, 11);
     border-radius: 5px;
     padding: 5px;
     
}
nav a:hover{
    border-bottom: 2px solid red;
    
}
.bground img{
    width:100%;
    height: 370px; 
    border: 1px solid rgb(18, 12, 12);
   
}
.bground-nen{
    height: 350px;
   
}
#container{
    height: auto;
    margin: 0px 0px 0px 0px;
}
/* Nổi bật */
#outstanding-product{
    border: 10px groove rgb(184, 71, 71);
    height: auto;
    padding: 10px;
    display: flex;
    width: 1030px;
    padding-left: 20px;
    margin-left: 20px;
   
}
/* SP thường */
#products{
    border: 1px inset rgb(236, 69, 69);
    width: 830px;
    padding: 8px 0px 0px 10px;
    float: right;
    height: auto;
}
.product-items{
    border: 1px solid black;
    width: 200px;
    height:270px;
    margin-right: 6px;
    float: left;
    margin-bottom: 10px;  
    border-radius: 5px;
    background: rgb(224, 214, 214);
}
.product-items img{
    width: 180px;
    height: 120px;
    padding: 10px;
}
.product-items P{
    text-align: center;
}
.product-items .sale{
    color:rgb(255, 0, 34);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 14pt;
    animation-name: sale;
    animation: sale 1s infinite;
}
@keyframes sale{
    0%,100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}
.product-items .price{
    color: red;
    margin: 0px 2px 0px 24px ;
    font-size: 15pt;
}
.product-items .price b{
    display: block;
    text-align: center;
}
.product-items .price i{
    text-decoration:line-through;
    color: #9e898e;
}
.product-items p{
    text-align: center;
    margin-bottom: 7px;
}
.product-items button{
    margin: 10px 0px 0px 5px;
    width: auto;
    padding: 2px;
    background:rgb(40, 210, 6);
    border-radius: 5px;
    color: rgb(239, 234, 234);
    box-shadow: 0px 0px 5px rgb(9, 243, 235);
    /* text-shadow: 0px 0px 10px rgb(255, 0, 81),0px 0px 30px rgb(255, 0, 200); */
    transition:1s;
    font-weight: bold;
    
}
.product-items .button1{
    width: 60px;
    padding: 4px;
    background:rgb(225, 7, 22);
   
}
.product-items button:hover{
    background: rgb(75, 75, 10) ;
    
}
#product-list{
    border: 1px dotted rgb(232, 21, 21);
    padding: 10px;
    width: 230px;
}
#product-list h1{
    text-align: center;
}
#product-list .list{
    border: 1px solid black;
    width: 220px;
    padding: 5px;
    background: rgb(220, 191, 191);
}
.list ul li{
    list-style: none;
    border-bottom: 1px dotted black;
    padding: 10px;
   
}
.list ul li:hover{
    background: rgba(97, 71, 223, 0.473);
}
.list ul li a{
    text-decoration: none;
    color: rgb(255, 0, 60);
    font-weight: bold;
    font-size: 15pt;
}
#product-list img{
    margin: 10px 0px 10px 0px;
    width: 230px;
    display: block;
}

/* bài viết nổi bật */
#featured-article{
    border: 1px dotted rgb(169, 9, 36);
    width: 250px;
    float: left;
   
   
   
}
/* tin tức */
#culinary-news{
     margin: 0px 0px 0px 260px;
     height: 200px;
     width: 900px;
     
}
.news{
    border: 1px solid black;
    width: 240px;
    height: 220px;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    background: rgb(231, 214, 214);
    padding-left: 6PX;
}
.news img{
    width: 230px;
    height: 150px;
    padding: 5px;
}
.news p{
    text-align: center;
}

#contact{
    border:1px solid black;
    width: 740px;
    margin: 230px 0px 0px 260px;
    height: auto;
    /* clear: both; */
    padding: 10px;
}
#contact label{
    display: block;
    font-size: 20pt;
}
#contact input[type="text"], input[type="email"]{
    width: 400px;
    height: 30px;
}
#contact textarea{
    display: block;
}
#contact input[type="submit"]{
    background: black;
    padding: 10px 80px;
    border-radius: 5px;
    color: white;
    margin-top: 10px;
}

footer{
    background: rgb(11, 11, 11);
    clear: both;
    height: auto;
    position: absolute;
    width: 1100px;
    }
    footer p{
        color: white;
        display: block;
        text-align: center;
    }
    footer table {
        margin: 0px auto;
        color:white;
    }