form {
  border: 3px solid rgb(20, 4, 4);
  width: 290px;
  height: 410px;

  padding: 10px;
  margin-left: 350px;
}
select {
  margin-top: 10px;
}

input[type="text"] {
  width: 278px;
  height: 25px;
  margin-top: 10px;
}
input[type="checkbox"] {
  margin-top: 10px;
}
.a {
  width: 285px;
  height: 25px;
}
a {
  font-size: 20pt;
  font-weight: bold;
  color: blue;
}
