#khung {
  border: 2px solid rebeccapurple;
  width: 600px;
  height: 400px;
  padding: 20px;
  border-radius: 5px;
  background: rgb(76, 177, 190);
}
.group label {
  font-weight: bold;
  margin-left: 50px;
  font-size: 2pc;
}
.group input {
  width: 520px;
  height: 40px;
  margin-left: 50px;
}
.group select {
  width: 530px;
  height: 40px;
  margin-left: 50px;
  font-weight: bold;
  font-size: 15pt;
}
.dangky {
  margin-left: 170px;
  margin-top: 10%;
  background: red;
  padding: 10px 20px;
  margin-right: 100px;
  border-radius: 3px;
  font-weight: bold;
  color: aliceblue;
  font-size: 15pt;
}
.clear {
  margin-top: 10%;
  background: red;
  padding: 10px 20px;
  border-radius: 3px;
  font-weight: bold;
  color: aliceblue;
  font-size: 15pt;
}
.clear:hover {
  background: yellow;
}
.dangky:hover {
  background: yellow;
}
