* {
  margin: 0;
  padding: 0;
}
body {
  max-width: 1020px;
  margin: 10px auto;
}
header {
  width: 1020px;
  height: 35px;
  border: 1px solid black;
}
#container {
  max-width: 960px;
  margin: 15px auto;
}
.classroom {
  border: 1px solid black;
  width: 695px;
  height: 500px;
  float: left;
}
.science {
  width: 250px;
  height: 210px;
  border: 1px solid black;
  float: right;
  margin-bottom: 40px;
}
.register {
  width: 250px;
  height: 250px;
  border: 1px solid black;
  float: right;
}
