/* kếp hợp ~ + > < */

/* Mức độ ưu tiên của css
p	1	1
p.test	11	1 + 10
p#demo	101	1 + 100
<p style="color: pink;">	1000	1000
#demo	100	100
.test	10	10
p.test1.test2	21	1 + 10 + 10
#navbar p#demo	201	100 + 1 + 100
*	0	0 (the universal selector is ignored) 
 đặc biệt background-color: red !important; 
*/

.cong + p {
  background: red;
}
.lon > p {
  background: green;
}
i ~ b {
  color: red;
}
/* child */
.line p:first-child {
  color: rgb(0, 30, 255);
}
q:lang(no) {
  quotes: "~""~";
}
.firstline {
  width: 300px;
  border: 1px solid black;
}
.firstline p::first-line {
  color: red;
}
.firstletter {
  width: 300px;
  border: 1px solid black;
}
.firstletter p::first-letter {
  color: red;
  font-size: 40pt;
}
h1 {
}
h1::before {
  content: "🦃";
}
h1 {
}
h1::after {
  content: "🕍";
}

.luachon-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 20px 0px black;
  z-index: 1;
}
.luachon:hover .luachon-content {
  display: block;
}
.luachon-content a {
  color: rgb(169, 18, 18);
  padding: 10px;
  text-decoration: none;
  display: block;
}

.content {
  display: none;
  position: absolute;
}
.LC:hover .content {
  display: block;
}

[class$="test"] {
  background: yellow;
}
input[type="search"] {
  width: 100px;

  transition: width 40s;
  padding: 12px 20px 12px 4px;
}
input[type="search"]:hover {
  background: red;
  width: 100%;
}

.max {
  background: yellow;
  height: 40px;
  width: max(50%, 300px);
}

.min {
  margin-top: 20px;
  background: yellow;
  height: 40px;
  width: min(100%, 300px);
}
