* {
  margin: 0;
  padding: 0;
}
header {
  background: rgba(216, 219, 212, 0.749);
  height: 150px;
}
header .logo img {
  float: left;
  width: 120px;
  margin: 10px;
}
header p {
  font-size: 25pt;
  font-weight: bold;
  text-align: center;
  padding-top: 20px;
  margin-right: 130px;
  color: rgb(83, 10, 58);
}
header .timkiem {
  float: right;
  border: 1px solid black;
  border-radius: 3px;
  margin-right: 20px;
  border-radius: 10px;
}
header .timkiem input {
  height: 30px;
  border-radius: 10px 0px 0px 10px;
  padding-left: 10px;
  font-weight: bold;
  margin-right: 2px;
}
header button {
  background-color: rgb(16, 236, 16);
  border-radius: 0px 10px 10px 0px;
}
header .timkiem button {
  background-size: 100% 100%;
  height: 30px;
  width: 30px;
  float: right;
}
nav {
  background: rgb(183, 121, 121);
  margin-top: 40px;
}
nav ul {
  list-style: none;
  margin-left: 300px;
}
nav ul li {
  float: left;
  margin-right: 20px;
  border: 2px inset black;
  border-radius: 5px;
  background: rgb(224, 173, 173);
}
nav ul li a {
  text-decoration: none;
  font-size: 15pt;
  color: black;
  font-weight: bold;
}
nav ul li:hover {
  border-bottom: 2px solid red;
  background: rgb(184, 184, 15);
  padding: 2px;
}
.luachon {
  display: none;
  position: absolute;
}
.luachon a {
  display: block;
  background: white;
  padding: 10px;
  width: 300px;
}
.luachon a:hover {
  display: block;
  background: rgb(131, 176, 227);
}

.lua:hover .luachon {
  display: block;
}
#Main {
  width: auto;
  margin: 0 auto;
}
.img {
  background: url("./img/thit-trau-gac-bep-la-dac-san-gi-ma-gia-1-2-trieu-kg-van-duoc-san-don-202112301203571493.jpg");
  height: 350px;
  background-size: 100% 100%;
}
#lienhe {
  position: fixed;
  top: 65%;
  left: 85%;
  animation-name: lienhe;
  animation: lienhe 1.4s infinite;
}
@keyframes lienhe {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.hotline {
  background: rgb(228, 223, 223);
  display: flex;
  width: 180px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.hotline:hover {
  background: rgb(139, 172, 237);
}
.hotline .icon {
  background-image: url("./img/phone-icon.png");
  background-size: 100% 100%;
  width: 30px;
  height: 30px;
}
.messenger {
  background: rgb(228, 223, 223);
  display: flex;
  width: 100px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.messenger:hover {
  background: rgb(139, 172, 237);
}
.messenger .icon {
  background-image: url("./img/messenger-icon-free-png.webp");
  background-size: 100% 100%;
  width: 30px;
  height: 30px;
}
.zalo {
  background: rgb(228, 223, 223);
  display: flex;
  width: 100px;
  border-radius: 10px;
}
.zalo:hover {
  background: rgb(139, 172, 237);
}
.zalo .icon {
  background-image: url("./img/Icon_of_Zalo.svg.webp");
  background-size: 100% 100%;
  width: 30px;
  height: 30px;
}
.hotline a,
.messenger a,
.zalo a {
  font-size: 20pt;
  padding-left: 10px;
  text-decoration: none;
  margin-right: 5px;
  color: rgb(252, 21, 21);
}

#nhomdacsan h1 {
  text-align: center;
}
.dacsan {
  border: 1px solid black;
  width: 305px;
  height: 450px;
  border-radius: 5px;
  float: left;
  margin-right: 13.5px;
  background: #f4faf9;
  margin-bottom: 10px;
  margin-left: 15px;
}
.dacsan img {
  padding: 5px;
  height: 200px;
  width: 295px;
}
.dacsan p {
  font-size: 20px;
  padding: 10px;
}
.dacsan .gia {
  color: red;
  margin: 0 20px;
}
.dacsan del {
  color: rgb(92, 89, 104);
  margin: 0 70px;
  font-size: 20px;
}
.dacsan h2 {
  margin: 0 80px;
  color: red;
  animation-name: sale;
  animation: sale 1s infinite;
}
@keyframes sale {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.dacsan #Shopping-cart button {
  background-color: rgb(51, 240, 13);
  height: 35px;
  width: 150px;
  border: 2px inset black;
  font-size: 12pt;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  float: left;
  margin: 15px 20px 0px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dacsan #buy button {
  background-color: red;
  padding: 7px 25px;
  border: 2px inset black;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  margin: 15px 0px 0px 0px;
  animation-name: buy;
  animation: buy 2s infinite;
}
@keyframes buy {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.dacsan #buy button:hover,
#Shopping-cart button:hover {
  background: rgb(196, 249, 4);
}
.tin-tuc {
  width: 250px;
  height: auto;
  margin-left: 1000px;
  border: 1px solid black;
  background: rgb(234, 205, 205);
}

footer {
  background: rgb(46, 40, 40);
  height: 200px;
  clear: both;
}
footer p {
  color: white;
  text-align: center;
}
